// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3EC5E0;
$yellow: #F6AE26;
$orange: #FF6100;
$green: #1EDD88;
$gray: #1F1F1F;
$light-gray: #383838;
$white: #FFFFFF;

:root {
  --blue: #3EC5E0;
  --yellow: #F6AE26;
  --orange: #FF6100;
  --green: #1EDD88;
  --charcoal: #1F1F1F;
  --light-gray: #383838;
  --white: #FFFFFF;
}
