#bookmark-box {
  background-color: rgba(255, 255, 255, .5);
}

.visa-results {
  padding: 10px 5px 10px 5px;
}

.info {
  overflow-wrap: break-word;
}

.container-sm {
  display: inline-block;
}






.fa-trash-alt {
position: relative;
top:100;
right:100;
}


.container {
  position: relative;
}
