.globe {
  display: inline-block;
  position: relative;

}

#profile {
  font-size: 14px;
}

.small-banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/stampin/image/upload/v1627573059/8_cmeffk.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}
