.globe {
  display: inline-block;
  position: relative;

}

#profile {
  font-size: 14px;
}

.small-banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/stampin/image/upload/v1627650540/Untitled_design_8_iqr6au.png");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

.visa-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/stampin/image/upload/v1627650540/Untitled_design_8_iqr6au.png");

    /* Set a specific height */
    height: 440px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
    margin-top: -30px;
    }

    /* Place text in the middle of the image */
    .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    text-shadow: 1px 1px 9px #7d594c;
    }

    .hero-text-vr {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      text-shadow: 1px 1px 9px #7d594c;
      }

    .hero-comment {
      text-align: center;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: 200;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.4rem;
    }

.bookmark-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/stampin/image/upload/v1627661274/Untitled_design_10_jjblbc.png");

    /* Set a specific height */
    height: 440px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
    margin-top: -30px;
    }
