<!-- FAQ Banner -->
<div class="FAQ-image">
  <div class="banner-container">
    <h1 id="FAQ-title" >FREQUENTLY ASKED QUESTIONS</h1>
  <div class="banner-container">
    <p class="FAQ-comment">Use the FAQ search bar to find what you need. Click on the questions to see the answers.</p>
  </div>
  </div>
</div>

<div class="container"
     id="page_container">
<!-- Search FAQ Only (by words only found in FAQ) -->
  <div id="accordion_search_bar_container">
    <i class="fas fa-search" id="search-icon"></i>
    <input type="search"
         id="accordion_search_bar"
         placeholder="Type in a key word or phrase, like 'bookmark' or 'no visa'."/>
  </div>
<!-- Answers -->
  <div class="panel-group"
       id="accordion"
       role="tablist"
       aria-multiselectable="true">
<!-- Q1 -->

    <div class="panel"
         id="collapseOne_container">
      <div class="panel-heading"
           role="tab"
           id="headingOne">
        <h6 class="panel-title" id="round_border_faq">
          <a role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseOne"
             aria-expanded="true"
             aria-controls="collapseOne">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What is StampIn?
          </a>
        </h6>
      </div>
      <div id="collapseOne"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingOne">
        <div class="panel-body">
          <p>StampIn is a travel visa search engine that allows you to search and save any visa requirements and embassies you might need to make sure your trips go smoothly. StampIn's website also features embassy contact and location information, as well as a brief profile on your chosen destination.</p>
        </div>
      </div>
    </div>
<!-- Q2 -->

    <div class="panel"
         id="collapseTwo_Container">
      <div class="panel-heading"
           role="tab"
           id="headingTwo">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseTwo"
             aria-expanded="false"
             aria-controls="collapseTwo">
 <!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What are the benefits of creating a StampIn account?
          </a>
        </h6>
      </div>
      <div id="collapseTwo"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>StampIn lets you bookmark your travel visa requirements, in addition to any embassies you might need.</p>
        </div>
      </div>
    </div>
<!-- Q3 -->

    <div class="panel"
         id="collapseThree_Container">
      <div class="panel-heading"
           role="tab"
           id="headingThree">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseThree"
             aria-expanded="false"
             aria-controls="collapseThree">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What is a bookmark?
          </a>
        </h6>
      </div>
      <div id="collapseThree"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingThree">
        <div class="panel-body">
          <p>On StampIn, bookmarks allow you to save visa search results and also any embassies that you would like to contact without having to use the search engine again.</p>
        </div>
      </div>
    </div>
<!-- Q4 -->

    <div class="panel"
         id="collapseFour_Container">
      <div class="panel-heading"
           role="tab"
           id="headingFour">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseFour"
             aria-expanded="false"
             aria-controls="collapseFour">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What is a travel visa?
          </a>
        </h6>
      </div>
      <div id="collapseFour"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingFour">
        <div class="panel-body">
          <p>A travel visa is something that permits you, as a visitor, into a foreign country for a certain time period. It lets the authorities know what you want to do on your visit. A visa can also come in many forms, like stamps, stickers, or papers.</p>
        </div>
      </div>
    </div>
<!-- Q5 -->

    <div class="panel"
         id="collapseFive_Container">
      <div class="panel-heading"
           role="tab"
           id="headingFive">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseFive"
             aria-expanded="false"
             aria-controls="collapseFive">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            Do I need a travel visa?
          </a>
        </h6>
      </div>
      <div id="collapseFive"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingFive">
        <div class="panel-body">
          <p>Maybe! It can change at any time. Depending on your country of origin and your destination, it is possible that you need a visa every time you enter a foreign country. StampIn allows you to check this information. Who needs a visa can also change depending on global and current events, such as a pandemic. Even if you have traveled to a country without a visa before, it is always best to check ahead of time to ensure smooth travels.</p>
        </div>
      </div>
    </div>
<!-- Q6 -->

    <div class="panel"
         id="collapseSix_Container">
      <div class="panel-heading"
           role="tab"
           id="headingSix">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseSix"
             aria-expanded="false"
             aria-controls="collapseSix">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What is an e-visa?
          </a>
        </h6>
      </div>
      <div id="collapseSix"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingSix">
        <div class="panel-body">
          <p>'E-visa' is an abbreviation for 'electronic visa'. It is a visa that you can apply for on your own through a designated visa website. E-visas give a traveler permission to enter a country, just like other travel visas. The only difference is that applications can be completed online.</p>
        </div>
      </div>
    </div>
<!-- Q7 -->

        <div class="panel"
         id="collapseSeven_Container">
      <div class="panel-heading"
           role="tab"
           id="headingSeven">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseSeven"
             aria-expanded="false"
             aria-controls="collapseSeven">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What does 'No Visa Required' mean?
          </a>
        </h6>
      </div>
      <div id="collapseSeven"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingSeven">
        <div class="panel-body">
          <p>A: This means that your chosen destination does not require you to have any special permissions to enter apart from a valid passport for a given time period. However, it is important to note that most countries want to see proof that you plan to leave at some point. Therefore, ‘No Visa Required’ for most countries, means you should have the following:
            <br>
            <br>
            • A passport that is valid for 6 months past the date that you enter the country
            <br>
            • This passport must have at least one blank page
            <br>
            • Proof of sufficient funds
            <br>
            • Proof of onward or return flights
            <br>
            • All documents required for your next destination
          </p>
        </div>
      </div>
    </div>
<!-- Q8 -->

        <div class="panel"
         id="collapseEight_Container">
      <div class="panel-heading"
           role="tab"
           id="headingEight">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseEight"
             aria-expanded="false"
             aria-controls="collapseEight">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What does 'Visa Required' mean?
          </a>
        </h6>
      </div>
      <div id="collapseEight"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingEight">
        <div class="panel-body">
          <p>'Visa Required' means that you must have special permission from a government to enter a country that is not your own, and is usually inserted into your passport in some way (check with the visa requirements). A visa is a document issued by a government to foreign visitors, providing them with legal entry into a that is not the visitor's own country. Visa requirements vary depending on country of origin, the destination country and occasionally a visitor's travel history.</p>
        </div>
      </div>
    </div>
<!-- Q9 -->

        <div class="panel"
         id="collapseNine_Container">
      <div class="panel-heading"
           role="tab"
           id="headingNine">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseNine"
             aria-expanded="false"
             aria-controls="collapseNine">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What does 'Visa on Arrival' mean?
          </a>
        </h6>
      </div>
      <div id="collapseNine"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingNine">
        <div class="panel-body">
          <p>'Visa on Arrival' means that travelers must obtain a visa in order to enter the destination country, but it can be obtained upon arrival. Visitors do not need to apply for a travel visa beforehand. Visa required means that travellers must apply for a visa to the country before actually travelling there.</p>
        </div>
      </div>
    </div>
    <!-- Q10 -->

    <div class="panel"
         id="collapseTen_Container">
      <div class="panel-heading"
           role="tab"
           id="headingTen">
        <h6 class="panel-title" id="round_border_faq">
          <a class="collapsed"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#collapseTen"
             aria-expanded="false"
             aria-controls="collapseTen">
<!--             <i class="fas fa-plane" aria-hidden="true"></i>
 -->        <i class="fas fa-chevron-circle-right"></i>
            What does 'No Visa Available' mean?
          </a>
        </h6>
      </div>
      <div id="collapseTen"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="headingTen">
        <div class="panel-body">
          <p>This is rare. 'No Visa Available' means that for some reason, your chosen destination does not allow visitors from your origin country. We would suggest traveling elsewhere.</p>
        </div>
      </div>
    </div>

  </div>
</div>
