<div class="footer-basic">
  <footer>
    <div class="footer-logo">
      <div class="social">
        <%= link_to " ", "https://github.com/MsTess/StampIn", class: "fab fa-github", target: '_blank', style: 'text-decoration: none' %>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><%= link_to "Home", countries_path %></li>
        <li class="list-inline-item"><%= link_to "README", "https://github.com/MsTess/StampIn#readme", target: '_blank', style: 'text-decoration: none' %></li>
        <li class="list-inline-item"><%= link_to "Team", "https://github.com/MsTess/StampIn/wiki/Meet-the-StampIn-Team", target: '_blank', style: 'text-decoration: none' %></li>
      </ul>
      <p class="copyright">StampIn © 2021</p>
    </div>
  </footer>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
