<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-lg-6 col-sm-6">
      <div class="bg-white rounded p-3 shadow-lg" style="opacity: 0.9;">
        <h1>Errors#internal_server_error</h1>
        <p>Find me in app/views/errors/internal_server_error.html.erb</p>
      </div>
    </div>
  </div>
</div>
