<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-lg-8 col-sm-6">
      <h1>Travel Visa Information   <i class="fa fa-plane" aria-hidden="true"></i></h1>
              <div id="site_info">
                <p>Some travel plans require a visa. Answer the questions below to ensure that your trip goes as smoothly as possible.</p>
              </div>
<!--               <div class="col-6"> -->
                <div class="bg-white rounded p-3 shadow">
                  <div class="form">
                    <%= simple_form_for(@visa_result) do |f| %>
                    <%= f.input :destination_country, collection: @countries, label: 'Where do you want to go?' %>
                    <%= f.input :origin_country, collection: @countries, label: 'Where are you from?' %>
                    <%= f.submit "Get Visa Info", class: 'blue_button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <div class="container">

        <h2>Frequently Asked Questions:</h2>
        <hr>
        <h3>What are the benefits of creating a StampIn account?</h3>
        <p>StampIn not only allows you to save and keep track of any visas you might need for your travels, but also helps you save and keep a record of any embassies you need. </p>
        <h3>What is a travel visa?</h3>
        <p id="visa_def">A travel visa gives you permission to visit a foreign country for a certain time period and lets the authorities know what you want to do on your visit. A visa can come in forms such as stamps, stickers, or papers.</p>
        <!-- maybe add link to external definition -->
        <h3>Who needs a travel visa?</h3>
        <p>Depending on your country of origin and your destination, it is possible that you need a visa every time you enter a foreign country. StampIn allows you to check this information. Who needs a visa can also change depending on global and current events, such as a pandemic. Even if you have traveled to a country without a visa before, it is always best to check ahead of time to ensure smooth travels.</p>
        <h3>What does "No Visa Required" mean?</h3>
        <p></p>
        <h3>What does "Visa Required" mean?</h3>
        <p></p>
        <h3>What does "Visa On Arrival" mean?</h3>
        <p></p>
        <h3>What is an e-visa?</h3>
        <p></p>

      </div>
    </div>
  </div>
</div>


