<h1>Your visa requirements for <%= @d_c.name %></h1>
<%= @visa_result.visa_modality.capitalize.gsub(/_/,' ') %>
<%= @visa_result.evisa_modality.capitalize.gsub(/_/,' ') %>
<%= link_to "Save", user_bookmark_visa_results_path(@user, bookmark_visa_result: {visa_result_id: @visa_result.id}), method: :post, style:"text-decoration: none;" %>
